{
  "extends": "stylelint-config-react-native-css-modules",
  "rules": {
    "declaration-block-no-duplicate-properties": true,
    "no-duplicate-selectors": true,
    "no-extra-semicolons": true,
    "no-eol-whitespace": true,
    "no-missing-end-of-source-newline": true
  }
}
